.header {
  background-color: white;
  height: 88px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.logo {
  margin-right: auto;
}

.stick:nth-child(2) {
  display: none;
}

.burger,
.checkstatus,
.repair {
  cursor: pointer;
}

.profile,
.phone,
.chat {
  display: none;
}

@media (min-width: 768px) and (max-width: 1120px) {
  .profile,
  .phone,
  .chat {
    display: block;
  }

  .stick:nth-child(2) {
    display: block;
  }
}
