@import url(/fonts/stylesheet.css);

main {
  font-family: 'TT Lakes', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.content__title {
  margin-left: 25px;
  position: relative;
  display: inline-block;
  width: 304px;
  height: 40px;
}

.content__title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 325px;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  transform: translateY(-50%);
  border-radius: 35%;
}

.content__list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 25px;
  padding: 0;
  overflow-x: scroll;
}

.content__list-item {
  display: inline-block;
  white-space: nowrap;
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
  font-weight: 500;
  cursor: pointer;
}

.active {
  border: 2px solid #b8ffec;
  background-color: white;
  border-radius: 2px;
}

.content__info {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.content__info-text {
  margin-left: 25px;
  height: 160px;
  width: 288px;
  overflow: hidden;
  margin-bottom: 0;
}

.content__info-read-button {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.content__info-image {
  margin: auto;
  width: 320px;
  height: 176px;
  align-items: center;
  border-radius: 6px;
}

nav {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__title-icon {
  display: none;
}
.content__title-icon label {
  font-weight: 500;
  cursor: pointer;
}

@media (min-width: 768px) {
  .content__info {
    flex-direction: row;
    gap: 32px;
  }
  .content__info-text {
    width: 312px;
    height: 160px;
  }
  .content__info-image {
    width: 360px;
    height: 208px;
  }
}

@media (min-width: 1120px) {
  .content__list {
    overflow-x: hidden;
  }
  .content__info-text {
    width: 490px;
    height: 160px;
  }
  .content__info-image {
    width: 531px;
    height: 307px;
  }
  .header {
    display: none;
  }
  .content__title-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content__title-icon img {
    margin: 0 25px 0 10px;
  }
}
