@import url(header.css);
@import url(main.css);
/* @import url(fonts/stylesheet.css); */

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.woff');
}

body {
  background-color: #f8f8f8;
  font-family: 'TT Lakes', sans-serif;
}

.stick {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
