@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.woff');
}

:root {
  --active-color: #41f6d7;
  --active-color-text: #7e7e82;
  --focus-color-text: #ff3e79;
  --border-color: #eaeaea;
  --backgroung-color: white;
  --header-height: 88px;
}

body {
  background-color: #f8f8f8;
  font-family: 'TT Lakes', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

.section {
  margin-left: 20px;
}

.container {
  position: relative;
}

@media (min-width: 1120px) {
  .container {
    margin-left: 320px;
  }
}

/* header */

.header {
  background-color: var(--backgroung-color);
  height: var(--header-height);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.header__logo {
  margin-right: auto;
}

.header__stick {
  width: 2px;
  height: 32px;
  background-color: var(--border-color);
}

.header__stick:nth-child(2) {
  display: none;
}

.icon-action:hover img {
  mask-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
}

.icon-action:hover span {
  transition: color 0.3s ease;
  color: var(--focus-color-text);
  font-weight: bold;
}

.header__wrapper {
  display: none;
}

@media (min-width: 768px) and (max-width: 1120px) {
  .header__wrapper {
    display: flex;
    gap: 20px;
  }

  .header__stick:nth-child(2) {
    display: block;
  }
}

/* main */

main {
  font-family: 'TT Lakes', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.content__title {
  margin-left: 25px;
  position: relative;
  display: inline-block;
  width: 304px;
  height: 40px;
}

.content__title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 325px;
  width: 4px;
  height: 40px;
  background-color: var(--active-color);
  transform: translateY(-50%);
  border-radius: 35%;
}

.content__list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 25px;
  padding: 0;
  overflow-x: scroll;
}

.content__item {
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
  font-weight: 500;
  position: relative;
}

.content__item a {
  display: inline-block;
  padding: 10px 15px;
}

.content__item:hover:not(.active) {
  border-bottom: 2px solid #7e7e82;
}

.active {
  border: 2px solid var(--active-color);
  background-color: var(--backgroung-color);
  border-radius: 2px;
}

.content__info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

.content__info-text {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  max-height: 100px;
}

.content__info-text--blur::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f8f8f8 100%);
}

.content__info-read-button {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  width: 132px;
}

.content__info-read-button:hover {
  transition: color 0.2s ease;
  color: var(--focus-color-text);
}

.content__info div {
  width: 100%;
}

.content__info-image {
  margin: auto;
  width: 320px;
  height: 176px;
  align-items: center;
  border-radius: 6px;
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__actions {
  display: none;
}
.content__actions label {
  font-weight: 500;
}

@media (min-width: 768px) {
  .content__info {
    flex-direction: row;
    gap: 32px;
  }
  .content__info div {
    width: 60%;
  }
  .content__info-text {
    height: 40%;
  }
  .content__info-image {
    margin-top: 0;
    width: 45%;
    height: auto;
  }
}

@media (min-width: 1120px) {
  .content__list {
    overflow: hidden;
  }

  .header {
    display: none;
  }
  .content__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .content__actions img {
    margin-left: 10px;
  }
  .content__actions > a {
    margin-right: 25px;
    display: flex;
    align-items: center;
    color: #1b1c21;
  }
}

/* aside */

.aside {
  display: none;
  position: fixed;
  top: 0;
  width: 320px;
  height: 100vh;
  background-color: var(--backgroung-color);
  border-right: 1px solid var(--border-color);
  box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
  overflow-y: auto;
  margin: 0;
}

@media (min-width: 1120px) {
  .aside {
    display: block;
    box-shadow: none;
  }
}

.aside > *:not(.sidebar__header) {
  margin-left: 20px;
}

.sidebar__header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  height: var(--header-height);
}

@media (min-width: 1120px) {
  .sidebar__header-close {
    display: none;
  }
}

.logo {
  margin-right: auto;
}

.sidebar__main-item {
  margin: 10px 0;
  position: relative;
  width: 90%;
}

.sidebar__main-item a {
  display: block;
  padding: 10px;
}

.sidebar__main-item--active::after {
  content: '';
  position: absolute;
  top: 18px;
  left: -21px;
  width: 6px;
  height: 28px;
  background-color: var(--active-color);
  transform: translateY(-50%);
  border-radius: 35%;
}

.sidebar__main-item:hover {
  transition: color 0.3s ease;
  color: var(--focus-color-text);
}

.sidebar__main-item--active {
  color: var(--active-color-text);
}

.sidebar__footer {
  margin: 230px 0 10px 0;
}

.icon-wrapper {
  display: flex;
  gap: 15px;
}

.sidebar__footer--mail:hover {
  transition: color 0.2s ease;
  color: var(--focus-color-text);
}

.sidebar__footer--contact {
  font-weight: bold;
}

.sidebar__footer--contact:hover {
  transition: color 0.2s ease;
  color: var(--focus-color-text);
}

.language-list {
  display: flex;
  gap: 5px;
}

.language-item {
  margin-top: 20px;
  cursor: pointer;
}

.language-item:hover {
  transition: color 0.2s ease;
  color: var(--focus-color-text);
}

.language-active {
  color: var(--active-color-text);
}

/* brands */

.block__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 56px;
  height: 56px;
  padding: 0px 20px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #f8f8f8 0%, #ffffff 100%);
}

.brands__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 0 20px;
  background-color: var(--backgroung-color);
  height: 72px;
}

.read-button {
  display: none;
}

.read-button:hover {
  transition: color 0.2s ease;
  color: var(--focus-color-text);
}

@media (min-width: 768px) {
  .brands__list {
    display: grid;
    grid-template-columns: repeat(3, 224px);
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    padding-top: 5px;

    height: 175px;
    overflow: hidden;
  }

  .brands__list--visible {
    height: auto;
    overflow: visible;
  }

  .repairs__list--visible {
    height: auto;
    overflow: visible;
  }

  .read-button {
    display: flex;
    width: fit-content;
    margin-left: 20px;
  }

  .read-button__text {
    font-weight: bold;
    margin: 1em auto;
  }

  .grid-item:hover {
    box-shadow: 0px 13px 15px -10px rgba(34, 60, 80, 0.2);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    transform: translateY(-3px);
  }

  .grid-item:not(:hover) {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
  }
}

@media (min-width: 1120px) {
  .brands__list {
    grid-template-columns: repeat(4, 240px);
  }
}

/* Свайпер */

.brand-slider {
  width: 80%;
  height: 110px;
}

.repair-slider {
  width: 80%;
}

.brand-slider__pagination .swiper-pagination-bullet-active {
  background-color: #a2a3a8;
}

.brand-slider__pagination .swiper-pagination-bullet {
  background-color: #c0bfbf;
}

.repair-slider__pagination .swiper-pagination-bullet-active {
  background-color: #a2a3a8;
}

.repair-slider__pagination .swiper-pagination-bullet {
  background-color: #c0bfbf;
}

/* Ремонт техники */

.repairs__list {
  display: grid;
  grid-template-columns: repeat(3, 224px);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  padding-top: 5px;

  height: 170px;
  overflow: hidden;
}

.repairs__list--visible {
  height: auto;
  overflow: visible;
}

@media (min-width: 1120px) {
  .repairs__list {
    grid-template-columns: repeat(4, 240px);
  }
}

.repairs__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 20px;
  background-color: var(--backgroung-color);
  font-weight: bold;
  box-sizing: border-box;
  height: 160px;
}

.repairs__image {
  margin-left: auto;
}

/* цены */

.price {
  margin: 0 20px;
}

.price__item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  align-items: center;
  padding: 15px;
}

.price__name {
  grid-area: 1 / 1 / 2 / 3;
}

.price__price {
  grid-area: 1 / 3 / 2 / 4;
}
.price__time {
  grid-area: 1 / 4 / 2 / 5;
}
.price__button {
  grid-area: 1 / 5 / 2 / 6;
}

.price__item > *:not(:first-child) {
  justify-self: end;
}

.price__item:not(:first-child) {
  background-color: var(--backgroung-color);
  border: 1px solid var(--border-color);
}

.price__table-header {
  color: var(--active-color-text);
}

.price__swiper {
  display: block;
}

.price__swiper-item {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroung-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 20px;
  line-height: none;
}

.price__swiper-item > p {
  margin: 0;
}

.price__swiper-item-title {
  color: rgb(155, 155, 155);
}

.price__swiper-item-title:not(:first-child) {
  padding-top: 10px;
}

.price__swiper-button {
  margin-top: auto;
  margin-left: auto;
}

.price__order-button {
  width: fit-content;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.price__order-button:hover {
  transition: color 0.2s ease;
  color: var(--focus-color-text);
}

@media (min-width: 768px) {
  .price__table {
    display: block;
  }

  .price__swiper {
    display: none;
  }

  .price__info {
    width: 60%;
  }
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  border-top: 1px solid rgb(219, 255, 245);
  color: var(--active-color-text);
  padding: 20px;
}

.footer > * {
  flex: 1;
}

.footer a:hover {
  font-weight: bold;
}

.footer > *:last-child {
  text-align: end;
}

/* modal-phone */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal__content {
  height: 100%;
  width: 440px;
  background-color: var(--backgroung-color);
  border-left: 1px solid rgb(219, 255, 245, 0.5);
  margin-left: auto;
  box-shadow: 10px 0 52px rgba(14, 24, 80, 0.2);
  padding: 20px;
  box-sizing: border-box;
}

.modal__close {
  position: absolute;
  right: 470px;
  top: 25px;
}

.modal__title {
  margin: 0;
  position: relative;
  margin-bottom: 20px;
  font-weight: bold;
}

.modal__title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 417px;
  width: 3px;
  height: 40px;
  background-color: var(--active-color);
  transform: translateY(-50%);
  border-radius: 35%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__submit-button {
  border: none;
  background-color: transparent;
  align-self: flex-end;
  cursor: pointer;
}

.modal__input {
  border: 1px solid #eaeaea;
  background-color: transparent;
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.modal__input:focus {
  outline: none;
}

.modal__link {
  color: var(--focus-color-text);
}

.modal__link:hover {
  font-weight: bold;
  color: var(--focus-color-text);
}

.modal__input--message {
  min-height: 100px;
  resize: none;
}
